.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
}

.chart-inner {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.chart-label {
  color: #0f054d;
  text-align: center;
}
